.Menu {
  border-bottom: #000 1px solid;
  margin-bottom: 10px;
  padding: 10px;
  background: #bdc3c7;
}
.Link {
  margin-left: 6px;
  margin-right: 6px;
}
.Footer {
  border-top: 10px;
  padding: 10px
}

